In [34]:
from load_data import load_data
import pandas as pd
import numpy as np

In [117]:
train_data = np.load('../data/train.npy')
classes = np.load('../data/classes.npy')
names = np.load('../data/names.npy')
labels = np.load('../data/labels.npy')

In [118]:
names

array(['Dates', 'DayOfWeek', 'PdDistrict', 'Address', 'X', 'Y',
       'WeekNumber'], dtype=object)

In [158]:
s = train_data[np.random.choice(range(np.shape(train_data)[0]), 20)]
s

array([['2015-04-15 01:30:00', 'Wednesday', 'CENTRAL',
        '500 Block of SUTTER ST', -122.40942360467501, 37.7890647342848,
        642],
       ['2008-03-19 15:00:00', 'Wednesday', 'PARK',
        '2400 Block of GEARY BL', -122.44364285254, 37.7829183663086, 273],
       ['2012-10-18 07:40:00', 'Thursday', 'TARAVAL',
        '100 Block of GRAFTON AV', -122.454616903212, 37.7199820184131, 512],
       ['2007-04-22 00:01:00', 'Sunday', 'MISSION',
        '19TH ST / SHOTWELL ST', -122.415929849548, 37.7604330003754, 225],
       ['2006-04-04 21:05:00', 'Tuesday', 'MISSION', '18TH ST / FOLSOM ST',
        -122.415000536786, 37.7620990020681, 171],
       ['2007-04-22 11:11:00', 'Sunday', 'TENDERLOIN',
        'LEAVENWORTH ST / TURK ST', -122.414056291891, 37.7827931071006,
        225],
       ['2014-03-19 14:10:00', 'Wednesday', 'CENTRAL',
        '800 Block of JONES ST', -122.41370505887501, 37.7890640478934, 586],
       ['2003-11-25 22:09:00', 'Tuesday', 'NORTHERN',
        '1600 Block of PACIFIC AV', -122.422431723545, 37.794974567141, 48],
       ['2005-05-18 19:10:00', 'Wednesday', 'MISSION',
        '2200 Block of MARKET ST', -122.432198022433, 37.7651107322703, 125],
       ['2011-04-22 00:01:00', 'Friday', 'SOUTHERN',
        '200 Block of 10TH ST', -122.413532099084, 37.77345468079321, 434],
       ['2005-11-20 12:10:00', 'Sunday', 'NORTHERN',
        '600 Block of FULTON ST', -122.428249599273, 37.7780677663985, 151],
       ['2005-10-31 11:00:00', 'Monday', 'NORTHERN',
        '1300 Block of BUSH ST', -122.41948623404899, 37.7887480806774, 149],
       ['2004-02-03 10:00:00', 'Tuesday', 'NORTHERN',
        'LAGUNA ST / BUSH ST', -122.42852844365801, 37.7876500488633, 58],
       ['2012-02-06 20:00:00', 'Monday', 'NORTHERN',
        '800 Block of MCALLISTER ST', -122.42521142911, 37.7795180588339,
        476],
       ['2005-08-09 11:00:00', 'Tuesday', 'BAYVIEW',
        '800 Block of 22ND ST', -122.389733161027, 37.75779943924179, 137],
       ['2003-06-11 16:07:00', 'Wednesday', 'NORTHERN',
        '100 Block of GROVE ST', -122.419085788323, 37.7784353333225, 24],
       ['2008-01-24 11:00:00', 'Thursday', 'NORTHERN',
        '2300 Block of BUCHANAN ST', -122.43107316900699,
        37.79156871030021, 265],
       ['2006-06-30 22:15:00', 'Friday', 'TENDERLOIN',
        'MARKET ST / 8TH ST', -122.414743835382, 37.778719262789004, 183],
       ['2007-08-10 19:50:00', 'Friday', 'BAYVIEW',
        '1300 Block of FITZGERALD AV', -122.39414405701,
        37.722518894934396, 241],
       ['2013-03-08 10:00:00', 'Friday', 'INGLESIDE',
        '0 Block of PHELAN AV', -122.452289660492, 37.72569335757029, 532]], dtype=object)

In [173]:
def splitter(arr, i, splitoff):
    if len(splitoff) == 0:
        return []
    s = splitoff.pop()
    ids = arr[:,i]==s
    return [(s, arr[ids])] + splitter(arr[~ids], i, splitoff)

In [175]:
dict(splitter(s, 1, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']))

{'Friday': array([['2011-04-22 00:01:00', 'Friday', 'SOUTHERN',
         '200 Block of 10TH ST', -122.413532099084, 37.77345468079321, 434],
        ['2006-06-30 22:15:00', 'Friday', 'TENDERLOIN',
         'MARKET ST / 8TH ST', -122.414743835382, 37.778719262789004, 183],
        ['2007-08-10 19:50:00', 'Friday', 'BAYVIEW',
         '1300 Block of FITZGERALD AV', -122.39414405701,
         37.722518894934396, 241],
        ['2013-03-08 10:00:00', 'Friday', 'INGLESIDE',
         '0 Block of PHELAN AV', -122.452289660492, 37.72569335757029, 532]], dtype=object),
 'Monday': array([['2005-10-31 11:00:00', 'Monday', 'NORTHERN',
         '1300 Block of BUSH ST', -122.41948623404899, 37.7887480806774, 149],
        ['2012-02-06 20:00:00', 'Monday', 'NORTHERN',
         '800 Block of MCALLISTER ST', -122.42521142911, 37.7795180588339,
         476]], dtype=object),
 'Saturday': array([], shape=(0, 7), dtype=object),
 'Sunday': array([['2007-04-22 00:01:00', 'Sunday', 'MISSION',
         '19TH ST / SHOTWELL ST', -122.415929849548, 37.7604330003754, 225],
        ['2007-04-22 11:11:00', 'Sunday', 'TENDERLOIN',
         'LEAVENWORTH ST / TURK ST', -122.414056291891, 37.7827931071006,
         225],
        ['2005-11-20 12:10:00', 'Sunday', 'NORTHERN',
         '600 Block of FULTON ST', -122.428249599273, 37.7780677663985, 151]], dtype=object),
 'Thursday': array([['2012-10-18 07:40:00', 'Thursday', 'TARAVAL',
         '100 Block of GRAFTON AV', -122.454616903212, 37.7199820184131, 512],
        ['2008-01-24 11:00:00', 'Thursday', 'NORTHERN',
         '2300 Block of BUCHANAN ST', -122.43107316900699,
         37.79156871030021, 265]], dtype=object),
 'Tuesday': array([['2006-04-04 21:05:00', 'Tuesday', 'MISSION', '18TH ST / FOLSOM ST',
         -122.415000536786, 37.7620990020681, 171],
        ['2003-11-25 22:09:00', 'Tuesday', 'NORTHERN',
         '1600 Block of PACIFIC AV', -122.422431723545, 37.794974567141, 48],
        ['2004-02-03 10:00:00', 'Tuesday', 'NORTHERN',
         'LAGUNA ST / BUSH ST', -122.42852844365801, 37.7876500488633, 58],
        ['2005-08-09 11:00:00', 'Tuesday', 'BAYVIEW',
         '800 Block of 22ND ST', -122.389733161027, 37.75779943924179, 137]], dtype=object),
 'Wednesday': array([['2015-04-15 01:30:00', 'Wednesday', 'CENTRAL',
         '500 Block of SUTTER ST', -122.40942360467501, 37.7890647342848,
         642],
        ['2008-03-19 15:00:00', 'Wednesday', 'PARK',
         '2400 Block of GEARY BL', -122.44364285254, 37.7829183663086, 273],
        ['2014-03-19 14:10:00', 'Wednesday', 'CENTRAL',
         '800 Block of JONES ST', -122.41370505887501, 37.7890640478934, 586],
        ['2005-05-18 19:10:00', 'Wednesday', 'MISSION',
         '2200 Block of MARKET ST', -122.432198022433, 37.7651107322703, 125],
        ['2003-06-11 16:07:00', 'Wednesday', 'NORTHERN',
         '100 Block of GROVE ST', -122.419085788323, 37.7784353333225, 24]], dtype=object)}

In [109]:
import coen_models
reload(coen_models)

In [110]:
model = coen_models.MostLikelyClassPerRegion(classes, names)

In [111]:
model.classes_

array(['WARRANTS', 'OTHER OFFENSES', 'LARCENY/THEFT', 'VEHICLE THEFT',
       'VANDALISM', 'NON-CRIMINAL', 'ROBBERY', 'ASSAULT', 'WEAPON LAWS',
       'BURGLARY', 'SUSPICIOUS OCC', 'DRUNKENNESS',
       'FORGERY/COUNTERFEITING', 'DRUG/NARCOTIC', 'STOLEN PROPERTY',
       'SECONDARY CODES', 'TRESPASS', 'MISSING PERSON', 'FRAUD',
       'KIDNAPPING', 'RUNAWAY', 'DRIVING UNDER THE INFLUENCE',
       'SEX OFFENSES FORCIBLE', 'PROSTITUTION', 'DISORDERLY CONDUCT',
       'ARSON', 'FAMILY OFFENSES', 'LIQUOR LAWS', 'BRIBERY',
       'EMBEZZLEMENT', 'SUICIDE', 'LOITERING', 'SEX OFFENSES NON FORCIBLE',
       'EXTORTION', 'GAMBLING', 'BAD CHECKS', 'TREA', 'RECOVERED VEHICLE',
       'PORNOGRAPHY/OBSCENE MAT'], dtype=object)

In [112]:
model.fit(train_data, labels)

In [113]:
s=train_data[0:5]
np.apply_along_axis(sum
                    , 1, model.predict_proba(s))

array([ 1.,  1.,  1.,  1.,  1.])

In [114]:
s

array([['2015-05-13 23:53:00', 'Wednesday', 'NORTHERN',
        'OAK ST / LAGUNA ST', -122.425891675136, 37.7745985956747, 646],
       ['2015-05-13 23:53:00', 'Wednesday', 'NORTHERN',
        'OAK ST / LAGUNA ST', -122.425891675136, 37.7745985956747, 646],
       ['2015-05-13 23:33:00', 'Wednesday', 'NORTHERN',
        'VANNESS AV / GREENWICH ST', -122.42436302145, 37.8004143219856,
        646],
       ['2015-05-13 23:30:00', 'Wednesday', 'NORTHERN',
        '1500 Block of LOMBARD ST', -122.42699532676599, 37.80087263276921,
        646],
       ['2015-05-13 23:30:00', 'Wednesday', 'PARK',
        '100 Block of BRODERICK ST', -122.438737622757, 37.771541172057795,
        646]], dtype=object)

In [101]:
s=train_data[0:5]

In [76]:
def predict(x):
    return model.ratios[x[4]]

In [83]:
np.apply_along_axis(predict, 1, s)

array([[  4.36677905e-02,   1.16178356e-01,   2.71902749e-01,
          5.97464267e-02,   5.13224750e-02,   9.72505817e-02,
          2.50724156e-02,   7.89971034e-02,   7.49323330e-03,
          5.55961822e-02,   3.10556057e-02,   3.49494278e-03,
          1.22702882e-02,   4.28415404e-02,   6.64798898e-03,
          9.48762999e-03,   7.40775915e-03,   1.85763806e-02,
          1.95165962e-02,   2.19383636e-03,   8.35747186e-04,
          2.46925305e-03,   4.13125030e-03,   1.73892398e-02,
          4.29270146e-03,   1.41507194e-03,   1.13965525e-04,
          1.17764376e-03,   1.70948288e-04,   1.24412365e-03,
          6.36307517e-04,   1.83294553e-03,   8.54741441e-05,
          2.27931051e-04,   9.49712712e-05,   5.12844864e-04,
          9.49712712e-06,   2.59271570e-03,   4.74856356e-05],
       [  4.36677905e-02,   1.16178356e-01,   2.71902749e-01,
          5.97464267e-02,   5.13224750e-02,   9.72505817e-02,
          2.50724156e-02,   7.89971034e-02,   7.49323330e-03,
          5.55961822e-02,   3.10556057e-02,   3.49494278e-03,
          1.22702882e-02,   4.28415404e-02,   6.64798898e-03,
          9.48762999e-03,   7.40775915e-03,   1.85763806e-02,
          1.95165962e-02,   2.19383636e-03,   8.35747186e-04,
          2.46925305e-03,   4.13125030e-03,   1.73892398e-02,
          4.29270146e-03,   1.41507194e-03,   1.13965525e-04,
          1.17764376e-03,   1.70948288e-04,   1.24412365e-03,
          6.36307517e-04,   1.83294553e-03,   8.54741441e-05,
          2.27931051e-04,   9.49712712e-05,   5.12844864e-04,
          9.49712712e-06,   2.59271570e-03,   4.74856356e-05],
       [  4.36677905e-02,   1.16178356e-01,   2.71902749e-01,
          5.97464267e-02,   5.13224750e-02,   9.72505817e-02,
          2.50724156e-02,   7.89971034e-02,   7.49323330e-03,
          5.55961822e-02,   3.10556057e-02,   3.49494278e-03,
          1.22702882e-02,   4.28415404e-02,   6.64798898e-03,
          9.48762999e-03,   7.40775915e-03,   1.85763806e-02,
          1.95165962e-02,   2.19383636e-03,   8.35747186e-04,
          2.46925305e-03,   4.13125030e-03,   1.73892398e-02,
          4.29270146e-03,   1.41507194e-03,   1.13965525e-04,
          1.17764376e-03,   1.70948288e-04,   1.24412365e-03,
          6.36307517e-04,   1.83294553e-03,   8.54741441e-05,
          2.27931051e-04,   9.49712712e-05,   5.12844864e-04,
          9.49712712e-06,   2.59271570e-03,   4.74856356e-05],
       [  4.36677905e-02,   1.16178356e-01,   2.71902749e-01,
          5.97464267e-02,   5.13224750e-02,   9.72505817e-02,
          2.50724156e-02,   7.89971034e-02,   7.49323330e-03,
          5.55961822e-02,   3.10556057e-02,   3.49494278e-03,
          1.22702882e-02,   4.28415404e-02,   6.64798898e-03,
          9.48762999e-03,   7.40775915e-03,   1.85763806e-02,
          1.95165962e-02,   2.19383636e-03,   8.35747186e-04,
          2.46925305e-03,   4.13125030e-03,   1.73892398e-02,
          4.29270146e-03,   1.41507194e-03,   1.13965525e-04,
          1.17764376e-03,   1.70948288e-04,   1.24412365e-03,
          6.36307517e-04,   1.83294553e-03,   8.54741441e-05,
          2.27931051e-04,   9.49712712e-05,   5.12844864e-04,
          9.49712712e-06,   2.59271570e-03,   4.74856356e-05],
       [  4.70068138e-02,   1.25405581e-01,   1.85451817e-01,
          8.03658339e-02,   5.29891304e-02,   1.20153310e-01,
          1.94070409e-02,   7.12808241e-02,   7.23961713e-03,
          5.85658663e-02,   3.35820896e-02,   7.58436080e-03,
          1.05045425e-02,   5.21779689e-02,   3.54883193e-03,
          9.00389358e-03,   5.88092148e-03,   5.50170344e-02,
          1.97517846e-02,   1.90622972e-03,   9.83533420e-03,
          3.56911097e-03,   4.29915639e-03,   1.01395198e-04,
          5.49561973e-03,   1.31813757e-03,   5.27255029e-04,
          3.02157690e-03,   1.41953277e-04,   1.01395198e-03,
          4.05580792e-04,   4.66417910e-04,   1.21674238e-04,
          1.62232317e-04,   2.02790396e-05,   3.04185594e-04,
          0.00000000e+00,   2.37264763e-03,   0.00000000e+00]])

array(['2015-05-13 23:53:00', 'WARRANTS', 'WARRANT ARREST', 'Wednesday',
       'NORTHERN', 'ARREST, BOOKED', 'OAK ST / LAGUNA ST',
       -122.425891675136, 37.7745985956747, 646], dtype=object)

In [172]:
{'a':1, 'b':2} + {'c': 3}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [176]:
class Parent(object):
    
    def method(self):
        return self.test()
    
    def test(self):
        print "Parent"
        
class Child(Parent):
    
    def test(self):
        print "Child"

In [178]:
c = Child()
c.method()

Child

In [179]:
model.names

array(['Dates', 'DayOfWeek', 'PdDistrict', 'Address', 'X', 'Y',
       'WeekNumber'], dtype=object)